name: sam-contract-alerts-run

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *'

permissions:
  contents: read

jobs:
  sam-contract-alerts-run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pip'
    - name: pip package install
      run: |
        pip install . --use-pep517
    - name: Run search
      env:
        SAM_API_KEY: ${{ secrets.SAM_API_KEY }}
        CONTRACT_LIST: ${{ secrets.CONTRACT_LIST }}
        NAICS_LIST: ${{ secrets.NAICS_LIST }}
        MS_URL: ${{ secrets.MS_URL }}
      run: python3 search.py "$SAM_API_KEY" "$CONTRACT_LIST" "$NAICS_LIST" "$MS_URL"
